.faq-list-group {
    .faq-list-wraper {
        .faq-list {
            position: relative;
            z-index: 1;
            padding-left: 105px;
            @include xs{padding-left: 60px; font-size: 20px;}
            @include rmaxwd(300){padding-left: 50px; font-size: 17px; line-height: 30px; font-weight: 600;}
            @include rmaxwd(390){padding-left: 70px; font-size: 20px;}
            font-size: 25px;
            font-family: 'Teko',sans-serif;
            line-height: 40px;
            font-weight: 700;
            .faq-destails-text {
                font-size: 20px;
                line-height: 40px;
                font-family: 'Manrope',sans-serif;
                font-weight: 400;
                color: #1f1f1f;
                @include xs{font-size: 16px;}
                @include rmaxwd(300){font-size: 14px; line-height: 20px;}
            }
            &::before {
                position: absolute;
                content: "\f178";
                top: 50%;
                font-family: 'Font Awesome 6 Pro';
                left: 0;
                width: 78px;
                height: 78px;
                background: #1f1f1f;
                border-radius: 50%;
                box-shadow: 0 3px 5px 0 #1f1f1f;
                transform: translateY(-50%);
                transition: all .5s ease-out;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-weight: 300;
                font-size: 30px;
                @include xs{width: 50px; height: 50px; font-size: 20px;}
                @include rmaxwd(300){width: 30px; height: 30px; font-size: 16px;}
                @include rmaxwd(390){width: 50px; height: 50px;}
            }
        }
    }
}
