.biz-primary-btn-area {
    .primary-btns {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Teko',sans-serif;
        letter-spacing: 1px;
        background: $primary;
        padding: 15px 30px;
        border: 0 none;
        display: inline-block;
        text-align: center;
        transition: all .4s ease-out;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &:hover::after{
            animation: animate_slide_inTop_right .5s ease-out;
        }

        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: -100%;
            background: $white;
            width: 10px;
            height: 100%;
            transition: all .5s ease-out;
            z-index: -1;
            transform: translateY(-50%) skew(45deg);
        }
    }
}

